body {
    margin: 0;
    padding: 0;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo-image {
    width: 10%;
    height: 10%;
    align-self: center;
}
#cart-icon {
    width: 5%;
    height: 5%;
    align-self: center;
}
.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#hero-image {
    width: 50%;
}
.browse-products {
    align-self: center;
    text-align: center;
}
.categories {
    
}
