body {
    font-size:20px;
    font-family:'Times New Roman';
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 1.5;
    border: 1px solid black;
    transition: background-color 0.3s ease, color 0.3s ease;
}
h1 {
    font-size: 70px;
    margin-bottom: -5px;
}
h2{
    color: #006EB6;
    border-bottom: 1px solid black;
    font-size: 20px;

}

h1, h2{
    text-align: center;
}
p{
    text-align: left;
    padding-top: 30px;
}
.content {
    margin: auto;
    max-width: 600px;
}
.logo{
    max-width: 150px;
}
.dark {
    background-color: #333;
    color: white;
    border-color: white;
}
.dark h2 {
    border-bottom-color: white;
    color: #4F9ACF;
}
footer{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}