body {
    font-size:20px;
    font-family:'Times New Roman';
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 1.5;

}
h1 {
    font-size: 70px;
    margin-bottom: -5px;
}
h2{
    color: #006EB6;
    border-bottom: 1px solid black;
    font-size: 20px;

}

h1, h2{
    text-align: center;
}
p{
    text-align: left;
    padding-top: 30px;
}
.content {
    margin: auto;
    max-width: 600px;
}
.logo{
    max-width: 150px;
}
footer{
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}